/** testimonials **/
.wpb_wrapper .vc_om-testimonials-items {
    background-color: #FFF;
    color: #000;
}
.wpb_wrapper .vc_om-testimonials::after {
    display:none;
}
.wpb_wrapper .vc_om-testimonials .om-item-pic {
    margin: 32px 0;
    float: none;
    text-align: center;
}
.wpb_wrapper .vc_om-testimonials .om-item-pic img {
    display: inline-block;
}
.wpb_wrapper .vc_om-testimonials .om-item-author::before {
    display:none;
}
.wpb_wrapper .vc_om-testimonials .om-item-author {
    font-style:normal;
    text-align: center;
    font-size: 16px;
}

/** footer **/
#text-2 .textwidget a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
}
#text-2 .textwidget a:hover {
    color: rgb(195, 146, 78);
}
#text-2 .textwidget a i {
    position: relative;
    padding-right: 12px;
    font-size: 20px;
    top: 2px;
}
.sub-footer.with-sub-footer-text {
    color: #d5d2d2;
    font-family:Montserrat;
}
.sub-footer.with-sub-footer-text a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}
@media screen and (min-width: 400px) {
    #text-2 .textwidget a {
        width: 50%;
        float: left;
    }
}
@media screen and (min-width: 620px) {
    #text-2 .textwidget a {
        margin-right: 32px;
        margin-bottom: 0;
        display: inline;
        float: none;
    }
}