/** top bar **/
.header .header-top {
    background-color: rgb(195, 146, 78);
    color: #FFF;
    font-size: 16px;
}
.header .header-tagline {
    margin: 14px 0;
    width: 100%;
}
.header .header-tagline > p {
    float: left;
    margin: 10px 0 0 0;
}
.header .header-tagline > div {
    margin: 0;
    float: right;
}
#gform_3 .gform_heading {
    display: none;
}
#gform_3 .gform_body, #gform_3 .gform_footer {
    float: left;
    clear: none;
}
#gform_3 ::-webkit-input-placeholder { color:#989898; }
#gform_3 :-moz-placeholder { opacity: 1; color:#989898; } /* Firefox 18- */
#gform_3 ::-moz-placeholder { opacity: 1; color:#989898; } /* firefox 19+ */
#gform_3 :-ms-input-placeholder { color:#989898; } /* ie */
#gform_3 .ginput_container {
    margin: 0 0 0 16px;
}
#gform_3 #input_3_1 {
    width: 312px;
    background-color: #FFF;
    border: none;
    padding: 14px 28px;
    box-sizing: border-box;
    font-size: 12px;
}
#gform_3 .gform_footer {
    clear: none;
    padding: 0px;
    margin: 0;
}
#gform_submit_button_3 {
    height: 100%;
    border: 2px solid #FFF;
    margin-left: 8px;
    text-transform: uppercase;
}

/** primary menu **/
.desktop-phone {
    display: none;
}
@media only screen and (min-width: 768px) {
    .desktop-phone {
        display: block;
        position: absolute;
        right: 0;
        top: 28px;
    }
    .desktop-phone a {
        color: #FFF;
        font-size: 24px;
        position: relative;
    }
    .desktop-phone a:hover {
        color: #FFF;
        text-decoration: none;
    }
    .desktop-phone a:hover span {
        display: block;
        width: 60%;
        height: 2px;
        background-color: #c3924e;
        margin: 0 20%;
        bottom: -2px;
        position: absolute;
    }
    .header-layout-3 .logo-type-image {
        top: auto;
        overflow: hidden;
        height: auto;
        width: auto;
    }
    .header-layout-3 .logo-image a img {
        background-color: transparent;
        padding: 0;
        border-radius: 0px;
    }
    .logo-box {
        clear: both;
    }
    .header-logo-menu .primary-menu > li > a {
        font-size: 14px;
    }
    .header-logo-menu .primary-menu > li > a > span {
        width: 60%;
        margin: 12px auto;
    }
    .header-logo-menu .primary-menu > li:last-of-type {
        margin-left: 20px;
    }
}

/** mobile menu **/
.logo-type-image {
    position: relative;
    top: -30px;
    z-index: 2;
    overflow: visible;
    height: 0;
    width: 154px;
    margin: 0 auto;
}
.logo-image {
    display: inline-block;
}
.logo-image a img {
    background-color: #FFF;
    padding: 12px;
    border-radius: 90px;
}
.header-layout-3 .mobile-header-menu-control a, .header-layout-3 .mobile-phone a {
    color: #616161;
}
.header-layout-3 .mobile-header-menu-control a:hover, .header-layout-3 .mobile-phone a:hover {
    text-decoration: none;
}
.header-layout-3 .mobile-header-menu-control {
    display: inline-block;
    float: right;
    font-size: 48px;
}
.header-layout-3 .mobile-header-menu-control::before {
    display: none;
}
.header-layout-3 .mobile-phone {
    float: left;
    font-size: 48px;
}
.header-layout-3 .mobile-header-menu-container {
    clear: both;
}
.header-layout-3 #menu-main-menu-1 {
    background-color: #f5f1df;
    margin: 0 -20px -20px -20px;
    text-align: center;
}
.header-layout-3 #menu-main-menu-1 li a {
    font-size: 16px;
    color: #313030 !important;
    padding: 20px 0;
}
.header-layout-3 #menu-main-menu-1 {
    padding-top: 75px
}
.header-layout-3 .header-mobile-menu {
    position: relative;
    z-index: 1;
    padding: 4px;
}

/** accordian **/
.om_theme .vc_tta.vc_tta-style-classic .vc_tta-panel-heading {
    border: none;
}
.om_theme .vc_tta.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a {
    padding: 20px;
    color: #000;
}
.om_theme .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-title > a {
    color: #000;
}
.om_theme .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
    position:absolute;
    right: auto;
    left: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    margin: 0;
    background-image: url('img/accordion-plus.png');
    transform: rotate(0deg);
}
.om_theme .vc_tta.vc_tta-accordion .vc_active .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
    background-image: url('img/accordion-minus.png');
}
.om_theme .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon::before,
.om_theme .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon::before {
    display: none;
}
.om_theme .vc_tta-title-text {
    padding-left: 48px;
}

/** contact form **/
#gform_wrapper_2 #gform_2 {
    color: #FFF;
}
#gform_wrapper_2 #gform_2 li {
    margin-bottom: 48px;
}
#gform_wrapper_2 .top_label li.gfield.gf_left_half {
    width: 46%;
    margin-right: 8%;
}
#gform_wrapper_2 .top_label li.gfield.gf_right_half {
    width: 46%;
}
#gform_wrapper_2 #gform_2 .gform_heading {
    margin-bottom: 128px;
}
#gform_wrapper_2 #gform_2 .gfield_required {
    color: #FFF;
    padding-left: 8px;
}
#gform_wrapper_2 #gform_2 input, #gform_wrapper_2 #input_2_5 {
    border: none;
}
#gform_wrapper_2 #input_2_5 {
    height: 96px;
}
#field_2_2 input, #field_2_3 input, #field_2_4 input,
#field_2_5 textarea, #field_2_6 input, #field_2_7 input {
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 12px;
    color: #FFF;
}
#field_2_2::after, #field_2_3::after, #field_2_4::after,
#field_2_5::after, #field_2_6::after, #field_2_7::after {
    content: "";
    display: block;
    height: 12px;
    border: 1px solid #FFF;
    border-top: none;
}
::-webkit-input-placeholder { color:#FFF; }
:-moz-placeholder { opacity: 1; color:#FFF; } /* Firefox 18- */
::-moz-placeholder { opacity: 1; color:#FFF; } /* firefox 19+ */
:-ms-input-placeholder { color:#FFF; } /* ie */
input:-moz-placeholder { color:#FFF; }
#input_2_8 input {
    margin-top: 4px;
}
#gform_wrapper_2 #input_2_8 label {
    margin-left: 8px;
}
#gform_wrapper_2 #gform_2 .gform_footer {
    text-align: left;
    padding: 0;
    margin: 0;
}
#gform_submit_button_2 {
    background-color: rgb(173, 125, 59);
    font-size: 12px;
    padding: 16px 32px;
    text-transform: uppercase;
}

/** testimonials **/
.wpb_wrapper .vc_om-testimonials-items {
    background-color: #FFF;
    color: #000;
}
.wpb_wrapper .vc_om-testimonials::after {
    display:none;
}
.wpb_wrapper .vc_om-testimonials .om-item-pic {
    margin: 32px 0;
    float: none;
    text-align: center;
}
.wpb_wrapper .vc_om-testimonials .om-item-pic img {
    display: inline-block;
}
.wpb_wrapper .vc_om-testimonials .om-item-author::before {
    display:none;
}
.wpb_wrapper .vc_om-testimonials .om-item-author {
    font-style:normal;
    text-align: center;
    font-size: 16px;
    color: #000;
}

/** footer **/
#text-2 .textwidget a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-bottom: 16px;
}
#text-2 .textwidget a:hover {
    color: rgb(195, 146, 78);
}
#text-2 .textwidget a i {
    position: relative;
    padding-right: 12px;
    font-size: 20px;
    top: 2px;
}
.sub-footer.with-sub-footer-text {
    color: #d5d2d2;
    font-family:Montserrat;
}
.sub-footer.with-sub-footer-text a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}
@media screen and (min-width: 400px) {
    #text-2 .textwidget a {
        width: 50%;
        float: left;
    }
}
@media screen and (min-width: 620px) {
    #text-2 .textwidget a {
        margin-right: 32px;
        margin-bottom: 0;
        display: inline;
        float: none;
    }
}